# Variáveis de ambiente
.env
.env.local
.env.production
.env.development

# Dependências
node_modules/

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
*.swp

# Build
dist/
build/
